.column-center
  - if (current_user && current_user.groups.include?(@group))
    = form_for([@group, @post], remote: true) do |f|
      #errors
        =render partial: 'errors'
      .div
        = f.text_area :content, placeholder: "Wpisz tu swój post"
  #posts
    =render partial: 'posts_list', locals: {posts: @posts}