- @page_title = @group.name
%head
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
= render 'groups/column_center'
= render 'groups/column_left'
= render 'groups/column_right'