.column-right
  Znajomi:
  - @user.friends.each do |friend|
    %ul.list-group
      %li.list-group-item
        =link_to friend.first_name + " " + friend.last_name, dashboard_path(friend.id), class: 'friend'
