.column-center
  %h5
    Zaproszenia:
  - @user.invitations.reverse.each do |invite|
    - unless invite.group_name
      #{invite.inviter_username} wants to add you to his friends
    =invite.group_name
    %div
      =button_to "Accept", accept_dashboard_path(invite: invite.id), class: 'btn btn-success'
      =button_to "Decline", decline_dashboard_path(invite: invite.id), class: 'btn btn-decline', method: :delete
    %br