.column-right
  %h5
    Twoje zaproszenia do grup:
  - @user.invitations.each do |invite|
    =invite.group_name
    %br
    %a{href: "/dashboards/2/accept_invitation?invite=#{invite.id}", method: 'patch', class: 'btn btn-success' }
      Accept
    %a{href: "/dashboards/2/decline_invitation?invite=#{invite.id}", method: 'delete', class: 'btn btn-danger' }
      Decline
