- if current_user != @user
  =render 'dashboards/other_users'
- else
  - @page_title = "Dashboard"
  =render 'dashboards/column_left'
  =render 'dashboards/column_center'
  =render 'dashboards/column_right'


