- if @post.errors.any?
  #error_explanation
    .alert.alert-danger.post_error
      The post contains #{pluralize(@post.errors.count, "error")}.
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg