- @page_title = 'Książka twarzy'
- if current_user
  .column-left
    - if !current_user.groups.empty? 
      %h5
        Grupy do których należysz:
      - current_user.groups.each do |group|
        %a{:href => "/groups/#{group.id}", class: 'btn btn-group'}
          = group.name
        %br
  .column-center
    = form_for(@post, remote: true) do |f|
      #errors
        =render partial: 'errors'
      %div
        = f.text_area :content, placeholder: "Wpisz tu swój post"
      #ajax
        =render partial: 'posts_list', locals: {posts: @posts}
- else
  %h2
    %strong Welcome, sign up or log in to see more
