@import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
textarea {
  color: black;
  width: 25%;
  resize: none;
  height: 100px;
}
.btn-success {
  border-color: lightblue;
  &:hover {
    background-color: #0066FF;
    border-color: #0066FF;
  }
}
.btn-decline {
  color: white;
  background-color: #680000 !important;
  width: auto !important;
  &:hover {
    background-color: #800000 !important;
    color: black;
  }
}
.btn-success:hover {
  background-color: #0066FF;
  border-color: #0066FF;
}
.centred-input {
  width: 33%;
  border-radius: 4px;
}
/* miscellaneous */
.field {
  color: white;
}
input {
  color: black;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  width: 90%;
  margin-bottom: 0px;
  @include box_sizing;
}
input[type="submit"] {
  background-color: lightblue;
}
input[type="checkbox"] {
  width: 20px;
  height: 12px;
  margin-bottom: 0px;
}
.actions {
  color: black;
}
.post_error {
  width: 350px;

}
input {
  height: auto;
}
.create-group {
  width: 200px;
}
.btn-success {
  width: auto !important;
}
.column-left { 
  float: left; width: 33%; 
}
.column-right{ 
  float: right; width: 33%; 
}
.column-center{
  align-self: center;
  display: inline-block; 
  width: 33%; 
}
.list-group {
  width: 90%;
  color: black;
}
/* bootstrap */
.navbar-inverse .navbar-nav > li > a {
  color: white;
  background-color: #3399CC;
  &:active {
    background-color: #33CCFF;
    color: black;
  }
  &:hover {
    background-color: #33CCFF;
    color: black;
  }
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: green;
  color: white;
}
header.navbar.navbar-fixed-top.navbar-inverse {
  background-color: #3399FF;
  color: black;
}
.btn-primary {
  width: 100%;
}
.btn-group {
  width: 50%;
  background-color: #202020;
  color: white;
  border-color: #202020;
  &:hover {
    color: white;
    border-color: #101010;
    background-color: #181818;
  }
  &:active {
    color: white;
    border-color: #101010;
    background-color: #101010;
  }
  &:visited {
    color: white;
    border-color: #202020;
    background-color: #202020;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
/* Pagination */
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: white; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }